<section class="container1">
    <div class="aboutme">
      <p class="title">About Me</p>
      <p class="contentcont1">From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.
      </p>
      <p class="contentcont1">Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
      </p>
      <p class="contentcont1">To learn more about me, keep exploring my site or reach out directly.
      </p>
    </div>
    <div class="basicinfo">
      <p class="title">Basic Information</p>
      <div class="flex1">
        <div class="c1a"><strong>date of birth:</strong></div>
        <div class="c2a"><strong>email:</strong></div>
        <div class="c3a"><strong>mobile no:</strong></div>
        <div class="c4a"><strong>address:</strong></div>
        <div class="c5a"><strong>languague:</strong></div>
        <div class="c1b">June 14,1994</div>
        <div class="c2b">punithraaj14@gmail</div>
        <div class="c3b">0123456789</div>
        <div class="c4b">elgazera bald elabtal</div>
        <div class="c5b">askandrane, sa3ede w manofe</div>
      </div>
    </div>
  </section>
  